<header>
    <div class="conteinerLogoSheader">
        <img class="logoSHeader"
            src="https://res.cloudinary.com/dioe9ktns/image/upload/v1690589245/xs_black_asczmh.png" />
    </div>
    <div class='conteinerTxtHeader'>
        <h1 class="TxtHeader">
            MINDFULMIND
        </h1>

    </div>
</header>
<main class="mainContent">
    <div class="conteinerTxt">
        <div style="margin-bottom: 5%;">Perfecto tu cuenta ya fue confirmado</br> solo tienes que ir a la aplicacion y
            ingresar</div>
        <a class="btnBack" href=" https://mindfulmind.com.ar">Ir a la web</a>

    </div>
</main>